<ion-header>
            <h3 class="txt_18 top_navbar">
				<a href="javascript:void(0);" (click)="myaccount()" class="top_nav_icon txt_white top_l_icon"><i class="fas fa-bars"></i></a>
				<a href="javascript:void(0);" class="txt_white txt_uppercase letter_spacing_3 page_heading"> Change Password</a> &nbsp;
				<!-- <a href="#" onclick="open_search_menu()" class="top_nav_icon txt_white top_r_icon_1" ><i class="far fa-search"></i></a>  -->
				<a href="javascript:void(0);" class="top_nav_icon txt_white top_r_icon_2 notify_count_icon"><i class="far fa-bell" data-count=""></i></a>
			</h3>
</ion-header>

<ion-content>

   			<div class="main_sec p_lr_15 m_b_70"> <!-- m_b_70 for fixed footer btns -->
				<div class="m_t_20">
					<form action="javascript:void(0)">
						<div class="form_group">
							<span class="input_icon"><i class="fas fa-key"></i></span>
							<input type="password" class="input_field" placeholder="Enter Current Password">
						</div>
						<div class="form_group">
							<span class="input_icon"><i class="fas fa-key"></i></span>
							<input type="password" class="input_field" placeholder="Enter New Password">
						</div>
						<div class="form_group">
							<span class="input_icon"><i class="fas fa-key"></i></span>
							<input type="password" class="input_field" placeholder="Re-enter New Password">
						</div>
					</form>
				</div>
				<div class="ftr_btns d_ib width_100prcnt">
					<a href="javascript:void(0);" class="txt_white input_btn_red"><i class="fa fa-times"></i> Cancel</a>
					<a href="javascript:void(0);" class="txt_white input_btn_blue"><i class="fa fa-check"></i> Update</a>
				</div>

			</div> 

</ion-content>
