<div id="catg_side_nav" class="sidenav bg_img_light" >

				<div class="sidebar_topbar txt_20">
					<!-- <a href="#" onclick="close_menu_Nav()" class="side_top_left_icon txt_white txt_20"><i class="fas fa-chevron-left"></i></a>  -->
					<p class="side_top_main_heading txt_white txt_uppercase letter_spacing_3 ">Choose Plan</p>
					<a href="javascript:void(0);" (click)="categoryrt()" class="side_top_right_icon txt_white txt_20"><i class="fas fa-arrow-left"></i></a> 
				</div>

        <div class="main_sec p_lr_15 m_b_70"> <!-- m_b_70 for fixed footer btns -->

				<div class="m_t_20">
					

						



						<label class="package_radio" *ngFor="let category of categories">
						<a href="javascript:void(0);" (click)="SubCat(id)" >
							<table>
								<tr>
									
									<td>
										<div class="package_card">
											<div class="package_card_image">
												<h3 class="package_price txt_20 bg_firozi_blue">$ {{ category?.Plan.price }}</h3>
												<!-- <img src="images/dropbox_icon.jpg" alt="Dropbox" title="Dropbox" width="70px" /> -->
											</div>
											<div class="package_card_content">
												<div class="txt_16 txt_blue txt_w_700">{{ category?.Plan.name }}</div>
												<p class="txt_12 txt_grey">${{ category?.Plan.price }} Per Post</p>
												<h4 class="txt_16">{{ category?.Plan.feature4 }}</h4>
												<p class="txt_12 txt_red">{{ category?.Plan.description }}</p>
											</div>
										</div>
									</td>
								</tr>
							</table>
						</a>	
						</label>




						

						<!-- <div class="form_group">
							<span class="input_icon"><i class="fas fa-file-alt"></i></span>
							<input type="text" class="input_field" placeholder="Product Title">
						</div> -->

					
				</div>


			</div> 
</div> 