<ion-header>
            <h3 class="txt_18 top_navbar">
				<a href="javascript:void(0);" (click)="myaccount()" class="top_nav_icon txt_white top_l_icon"><i class="fas fa-bars"></i></a>
				<a href="javascript:void(0);" class="txt_white txt_uppercase letter_spacing_3 page_heading"> My Followers</a> &nbsp;
				<!-- <a href="#" onclick="open_search_menu()" class="top_nav_icon txt_white top_r_icon_1" ><i class="far fa-search"></i></a>  -->
				<a href="javascript:void(0);" class="top_nav_icon txt_white top_r_icon_2 notify_count_icon"><i class="far fa-bell" data-count=""></i></a>
			</h3>
</ion-header>

<ion-content>
            <div class="search_input p_lr_15 p_t_15 m_b_20">
				<form action="javascript:void(0)">
					<div class="form_group">
						<input type="text" class="search_input_field" placeholder="Search Here">
						<a class="search_input_icon" href="#"><i class="fas fa-search"></i></a>
					</div>
				</form>
			</div>

			<div class="main_sec p_lr_15 m_b_70"> <!-- m_b_70 for fixed footer btns -->
				<div class="profile_list_box">
					<div class="profile_list_image">
						<img src="assets/images/test.jpg" alt="User Icon" title="User Icon" width="40px" />
					</div>
					<div class="profile_list_content">
						<div class="txt_black txt_w_700 txt_14">John doe</div>
						<div class="txt_grey txt_10">Member Since November 2016</div>
					</div>
					<div class="profile_list_actions txt_12 txt_right">
						<a href="#" class="txt_black bg_l_gray"><i class="fas fa-user-check"></i></a>
						<a href="javascript:void(0)" class="txt_white bg_red"><i class="fas fa-eye"></i></a>
					</div>
				</div>
				<div class="profile_list_box">
					<div class="profile_list_image">
						<img src="assets/images/test.jpg" alt="User Icon" title="User Icon" width="40px" />
					</div>
					<div class="profile_list_content">
						<div class="txt_black txt_w_700 txt_14">David Smith</div>
						<div class="txt_grey txt_10">Member Since July 2016</div>
					</div>
					<div class="profile_list_actions txt_12 txt_right">
						<a href="#" class="txt_black bg_l_gray"><i class="fas fa-user-check"></i></a>
						<a href="javascript:void(0)" class="txt_white bg_red"><i class="fas fa-eye"></i></a>
					</div>
				</div>
				<div class="profile_list_box">
					<div class="profile_list_image">
						<img src="assets/images/test.jpg" alt="User Icon" title="User Icon" width="40px" />
					</div>
					<div class="profile_list_content">
						<div class="txt_black txt_w_700 txt_14">Jacklin</div>
						<div class="txt_grey txt_10">Member Since April 2016</div>
					</div>
					<div class="profile_list_actions txt_12 txt_right">
						<a href="#" class="txt_white bg_blue"><i class="fas fa-user-plus"></i></a>
						<a href="javascript:void(0)" class="txt_white bg_red"><i class="fas fa-eye"></i></a>
					</div>
				</div>
				<div class="profile_list_box">
					<div class="profile_list_image">
						<img src="assets/images/test.jpg" alt="User Icon" title="User Icon" width="40px" />
					</div>
					<div class="profile_list_content">
						<div class="txt_black txt_w_700 txt_14">qwerty</div>
						<div class="txt_grey txt_10">Member Since January 2015</div>
					</div>
					<div class="profile_list_actions txt_12 txt_right">
						<a href="#" class="txt_white bg_blue"><i class="fas fa-user-plus"></i></a>
						<a href="javascript:void(0)" class="txt_white bg_red"><i class="fas fa-eye"></i></a>
					</div>
				</div>
				<div class="profile_list_box">
					<div class="profile_list_image">
						<img src="assets/images/test.jpg" alt="User Icon" title="User Icon" width="40px" />
					</div>
					<div class="profile_list_content">
						<div class="txt_black txt_w_700 txt_14">Malika Def</div>
						<div class="txt_grey txt_10">Member Since June 2011</div>
					</div>
					<div class="profile_list_actions txt_12 txt_right">
						<a href="#" class="txt_black bg_l_gray"><i class="fas fa-user-check"></i></a>
						<a href="javascript:void(0)" class="txt_white bg_red"><i class="fas fa-eye"></i></a>
					</div>
				</div>
				<div class="profile_list_box">
					<div class="profile_list_image">
						<img src="assets/images/test.jpg" alt="User Icon" title="User Icon" width="40px" />
					</div>
					<div class="profile_list_content">
						<div class="txt_black txt_w_700 txt_14">Samm jef</div>
						<div class="txt_grey txt_10">Member Since 2016</div>
					</div>
					<div class="profile_list_actions txt_12 txt_right">
						<a href="#" class="txt_black bg_l_gray"><i class="fas fa-user-check"></i></a>
						<a href="javascript:void(0)" class="txt_white bg_red"><i class="fas fa-eye"></i></a>
					</div>
				</div>
				<div class="profile_list_box">
					<div class="profile_list_image">
						<img src="assets/images/test.jpg" alt="User Icon" title="User Icon" width="40px" />
					</div>
					<div class="profile_list_content">
						<div class="txt_black txt_w_700 txt_14">Daisy wii</div>
						<div class="txt_grey txt_10">Member Since 2016</div>
					</div>
					<div class="profile_list_actions txt_12 txt_right">
						<a href="#" class="txt_white bg_blue"><i class="fas fa-user-plus"></i></a>
						<a href="javascript:void(0)" class="txt_white bg_red"><i class="fas fa-eye"></i></a>
					</div>
				</div>
				<div class="profile_list_box">
					<div class="profile_list_image">
						<img src="assets/images/test.jpg" alt="User Icon" title="User Icon" width="40px" />
					</div>
					<div class="profile_list_content">
						<div class="txt_black txt_w_700 txt_14">John doe</div>
						<div class="txt_grey txt_10">Member Since 2016</div>
					</div>
					<div class="profile_list_actions txt_12 txt_right">
						<a href="#" class="txt_black bg_l_gray"><i class="fas fa-user-check"></i></a>
						<a href="javascript:void(0)" class="txt_white bg_red"><i class="fas fa-eye"></i></a>
					</div>
				</div>
				<div class="profile_list_box">
					<div class="profile_list_image">
						<img src="assets/images/test.jpg" alt="User Icon" title="User Icon" width="40px" />
					</div>
					<div class="profile_list_content">
						<div class="txt_black txt_w_700 txt_14">Honennt doe</div>
						<div class="txt_grey txt_10">Member Since 2016</div>
					</div>
					<div class="profile_list_actions txt_12 txt_right">
						<a href="#" class="txt_black bg_l_gray"><i class="fas fa-user-check"></i></a>
						<a href="javascript:void(0)" class="txt_white bg_red"><i class="fas fa-eye"></i></a>
					</div>
				</div>
			</div>

			<div class="ftr_btns d_ib width_100prcnt">
				<a href="javascript:void(0)" class="txt_white input_btn_red"><i class="fas fa-file-signature"></i> Create Your Ad</a>
				<a href="javascript:void(0)" class="txt_white input_btn_blue"><i class="fas fa-file-alt"></i> Your Ads</a>
			</div>

</ion-content>
