<ion-header>
            <h3 class="txt_18 top_navbar">
				<a href="javascript:void(0);" (click)="myaccount()" class="top_nav_icon txt_white top_l_icon"><i class="fas fa-bars"></i></a>
				<a href="javascript:void(0);" class="txt_white txt_uppercase letter_spacing_3 page_heading"> My Purchase</a> &nbsp;
				<!-- <a href="#" onclick="open_search_menu()" class="top_nav_icon txt_white top_r_icon_1" ><i class="far fa-search"></i></a>  -->
				<a href="javascript:void(0);" class="top_nav_icon txt_white top_r_icon_2 notify_count_icon"><i class="far fa-bell" data-count=""></i></a>
			</h3>
</ion-header>

<ion-content>

            <div class="search_input p_lr_15 p_t_15">
				<form action="javascript:void(0)">
					<div class="form_group">
						<input type="text" class="search_input_field" placeholder="Search Here">
						<a class="search_input_icon" href="#"><i class="fas fa-search"></i></a>
					</div>
				</form>
			</div>

			<div class="main_sec p_lr_15 m_b_70 p_t_15"> <!-- m_b_70 for fixed footer btns -->

				<!-- <p class="txt_20 width_100prcnt">Newly Added</p> -->

				<div class="filter_option">
					<form action="javascript:void(0);">
						<label for="sort_by" class="txt_12">Sort By:
							<select name="sort_by">
								<option value="Today">Today</option>
								<option value="Yesterday">Yesterday</option>
								<option value="Last Week" selected>Last Week</option>
								<option value="Last Month">Last Month</option>
								<option value="Last Week">Last Week</option>
							</select>
						</label>
						<label for="price" class="txt_12">Price:
							<select name="price">
								<option value="Low to High" selected>Low to High</option>
								<option value="High to Low">High to Low</option>
								<option value="Under $100">Under $100</option>
							</select>
						</label>
					</form>
				</div>

				<div class="prod_list d_ib width_100prcnt">

					<div class="prod_item match_item">
						<img src="assets/images/img1.jpg" alt="Product Image">
						<div class="prod_info p_lr_10 p_tb_10">
							<p class="txt_14"><a href="product_detail.html">Samsung Smart Phone Gold </a></p>
							<div class="d_ib width_100prcnt m_t_10">
								<p class="side_top_main_heading txt_18 w_73prcnt">$1000.00</p>
							</div>
							<p class="prod_location txt_10 p_t_5 txt_grey"><i class="fas fa-map-marker-alt"></i> Northwest, Washington, DC</p>
							<p class="purchase_date txt_10"><b class="txt_blue">Sold Date:</b> 20-07-2019</p>
							<p class="purchase_date txt_10"><b class="txt_blue">Mode of Payment:</b> C/D Card</p>
						</div>
					</div>
					<div class="prod_item match_item fav_prod">
						<img src="assets/images/img2.jpg" alt="Product Image">
						<div class="prod_info p_lr_10 p_tb_10">
							<p class="txt_14"><a href="product_detail.html">Samsung Smart Phone Gold  </a></p>
							<div class="d_ib width_100prcnt m_t_10">
								<p class="side_top_main_heading txt_18 w_73prcnt">$1000.00</p>
							</div>
							<p class="prod_location txt_10 p_t_5 txt_grey"><i class="fas fa-map-marker-alt"></i> Northwest, Washington, DC</p>
							<p class="purchase_date txt_10"><b class="txt_blue">Sold Date:</b> 20-07-2019</p>
							<p class="purchase_date txt_10"><b class="txt_blue">Mode of Payment:</b> C/D Card</p>
						</div>
					</div>
					
				</div>
				
			</div>


			<div class="ftr_btns d_ib width_100prcnt">
				<a href="javascript:void(0);" class="txt_white input_btn_red"><i class="fas fa-file-signature"></i> Create Your Ad</a>
				<a href="javascript:void(0);" class="txt_white input_btn_blue"><i class="fas fa-file-alt"></i> Your Ads</a>
			</div>

</ion-content>
