<ion-content>

    <div class="container_fluid bg_img_light">
		<div class="container d_ib">
			<div class="m_t_120 m_b_50">
				<a href="home.html"><img src="assets/images/logo.png" alt="Logo" style="margin-right: auto; margin-left: auto; display: block; width: 70%;"></a>
			</div>

			<!-- <div class="signup_form p_lr_20"> -->
			<div class="signup_form p_lr_30">
				<h1 class="txt_center txt_w_700 m_b_50 txt_uppercase">Register</h1>
				<form #f="ngForm" (ngSubmit)="onSubmit(f)">
					<div class="form_group">
						<span class="input_icon"><i class="fas fa-user"></i></span>
						<input type="text" [(ngModel)]="first_name" name="first_name" class="input_field" placeholder="First Name">
						<div class="error-msg">
                            <label *ngIf="this.errors?.first_name && this.errors.first_name.length > 0" for=""
                                class="error">{{ this.errors.first_name[0] }}</label>
                        </div>
					</div>
					<div class="form_group">
						<span class="input_icon"><i class="fas fa-user"></i></span>
						<input type="text" [(ngModel)]="last_name" name="last_name" class="input_field" placeholder="Last Name (optional)">
						<div class="error-msg">
                            <label *ngIf="this.errors?.last_name && this.errors.last_name.length > 0" for=""
                                class="error">{{ this.errors.last_name[0] }}</label>
                        </div>
					</div>
					<div class="form_group">
						<span class="input_icon"><i class="fas fa-envelope"></i></span>
						<input type="email" [(ngModel)]="email" name="email" class="input_field" placeholder="Email">
						<div class="error-msg">
                            <label *ngIf="this.errors?.email && this.errors.email.length > 0" for=""
                                class="error">{{ this.errors.email[0] }}</label>
                        </div>
					</div>
					<div class="form_group">
						<span class="input_icon"><i class="fas fa-key"></i></span>
						<input type="password" [(ngModel)]="password" name="password" class="input_field" placeholder="Password">
						<div class="error-msg">
                            <label *ngIf="this.errors?.password && this.errors.password.length > 0" for=""
                                class="error">{{ this.errors.password[0] }}</label>
                        </div>
					</div>
					<div class="form_group">
						<span class="input_icon"><i class="fas fa-key"></i></span>
						<input type="password" [(ngModel)]="confirm_password" name="confirm_password" class="input_field" placeholder="Confirm Password">
						<div class="error-msg">
                            <label *ngIf="this.errors?.confirm_password && this.errors.confirm_password.length > 0" for=""
                                class="error">{{ this.errors.confirm_password[0] }}</label>
                        </div>
					</div>
					<div class="form_group">
						<span class="input_icon"><i class="fas fa-phone"></i></span>
						<input type="number" [(ngModel)]="phone" name="phone" class="input_field" placeholder="Contact Number">
						<div class="error-msg">
                            <label *ngIf="this.errors?.phone && this.errors.phone.length > 0" for=""
                                class="error">{{ this.errors.phone[0] }}</label>
                        </div>
					</div>
					
					<div class="form_group">
						<span class="input_icon"><i class="fas fa-home"></i></span>
						<input type="text" [(ngModel)]="address" name="address" class="input_field" placeholder="Address">
						<div class="error-msg">
                            <label *ngIf="this.errors?.address && this.errors.address.length > 0" for=""
                                class="error">{{ this.errors.address[0] }}</label>
                        </div>
					</div>
					<div class="form_group">
						<span class="input_icon"><i class="fas fa-map-marker-alt"></i></span>
						<input type="text" [(ngModel)]="country_code" name="country_code"  class="input_field" placeholder="Zip Code">
						<div class="error-msg">
                            <label *ngIf="this.errors?.country_code && this.errors.country_code.length > 0" for=""
                                class="error">{{ this.errors.country_code[0] }}</label>
                        </div>
					</div>
					<div class="form_group">
						
						<input type="checkbox" [(ngModel)]="terms" name="terms"  class="input_field" style='width:10%;float:left;' value='1'>
						<span style='width:90%;float:left; padding-left: 4%; padding-top: 6%;'>Please accept Terms & Conditions</span>
						<div class="error-msg">
                            <label *ngIf="this.errors?.country_code && this.errors.country_code.length > 0" for=""
                                class="error">{{ this.errors.terms[0] }}</label>
                        </div>
					</div>
					


					<!-- <div class="form_group m_b_30">
						<a href="forgot_pass.html" class="txt_12"><u>Forgot Password?</u></a>
					</div> -->

					<div class="form_group p_t_5">
						<input type="submit" class="input_btn input_btn_red txt_uppercase" value="Register">
					</div>
				</form>
				<p class="m_t_20 m_b_120 txt_center txt_12">Have an account? <a routerLink="/login" class="txt_blue txt_w_700 txt_uppercase"><u>Login Here</u></a></p>
			</div>

		</div>
        <div id="popupBox" class="white_content">
            <h1 class="txt_d_blue txt_center txt_18 txt_w_700">Alert!</h1>
            <a href="javascript:void(0)" onclick="popup_close();" class="close txt_18 txt_center popup_close_btn"><i
                    class="far fa-times"></i></a>
            <p style="clear: both"></p>
            <p class="popup_txt txt_center txt_18">We've sent a verfication link on your email address to verify.</p>
            <a routerLink="/login" class="alert_single_btn txt_18 txt_center">OK</a>
        </div>

		
		<div id="popupBackground" class="black_overlay"></div>


	</div>
	
</ion-content>